{% extends 'attendance/../base.html' %}

{% block head %}
    <title>Attendance Analyst</title>
    {% load staticfiles %}
{% endblock %}


{% block body %}

    <div class="container " id="focus">
        <h2>Registered Students</h2>
        <div class="row userList">

            {% for student in studentList %}
            <div class="col-esm-12 col-sm-6 col-md-4 col-lg-3 normal-anchor image" >
                <a class ="normal-anchor" href="{% url 'records' student.lmsId 4 %}#focus">
                <img class="img-circle" src="{{ student.display_image.url }}" alt="Generic placeholder image" width="140" height="140">
                <h2>{{ student.name }}</h2>
                <p>
                    {{ student.lmsId }}
                    <br/>
                    <small>
                        Last sync:
                            {% if student.last_updated == null %}
                                never
                            {% else %}
                                {{ student.last_updated|timesince:currentTime}} ago
                            {% endif %}
                    </small>
                </p>
                <p><a class="btn btn-link normal-anchor" href="{% url 'records' student.lmsId 4 %}#focus" role="button">View details »</a></p>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}