body {

    min-height: 2000px;
}

.navbar-fixed-top {
    text-emphasis-color: black;
    margin-bottom: 0px;
    /*background: transparent;*/
}

.fillspace {
     min-height: 50px;
}

.normal-anchor {
    color: black;
    padding-top: 10px;
    text-decoration: none;
    text-emphasis: none;

}

.normal-anchor:visited {
    text-decoration: none;
    color: black;
}

.normal-anchor:hover {
    background-color: #eeeeee;
    text-decoration: none;
}

.normal-anchor:active {
    text-decoration: none;
    color: black;
}

.test {
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 60%;
}
