body {
  padding-top: 50px;
  min-height: 2000px;
}

.navbar-fixed-top {
  text-emphasis-color: black;
  margin-bottom: 0px;
}

.fillspace {
  min-height: 50px;
}

.normal-anchor {
 color: black;
  text-decoration: none;
  text-emphasis: none;

}

.normal-anchor:visited {
  text-decoration: none;
    color: black;
}

.normal-anchor:hover {
    color: black;
  text-decoration: none;
}

.normal-anchor:active {
  text-decoration: none;
    color: black;
}